<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly - {{user.first_name}} {{user.last_name}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <p><a href="/">Home</a></p>
    
    <h1>{{ post.title }}</h1>

    <div>
        {{post.content}}
    </div>

    <p>By {{ user.first_name }} {{user.last_name }}</p>

    <span>
        <p><strong>Tags:</strong>
        {% for tag in post.tags%}
        <a class="no-after-click" href="/tags/{{ tag.id }}"><span class="tag-format">{{ tag.name }}</span></a>
        {% endfor %}
        </p>
    </span>
    
    

    <input id="edit-button" type="button" onclick="location.href='/posts/{{ post.id }}/edit';" value="Edit">
    <input id="delete-button" type="button" onclick="location.href='/posts/{{ post.id }}/delete';" value="Delete">


</body>
</html>