<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <p><a href="/">Home</a></p>
    
    <h1>{{ tag.name }}</h1>

    <ul>
        {% for post in tag.posts %}
        <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    

    <input id="edit-button" type="button" onclick="location.href='/tags/{{ tag.id }}/edit';" value="Edit">
    <input id="delete-button" type="button" onclick="location.href='/tags/{{ tag.id }}/delete';" value="Delete">


</body>
</html>